<html>
<head>
    <title>Nouvelle catégorie</title>
    {% for flashMessage in app.session.flashBag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
</head>
<body>
    <h1>Nouvelle catégorie</h1>
    <div>
        {{ form(form) }}
    </div>

</body>
</html>
